@charset "UTF-8";
@font-face {
  font-family: 'OSWALD-REGULAR';
  src: url('../fonts/OSWALD-REGULAR.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LATO-REGULAR';
  src: url('../fonts/LATO-REGULAR_0.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LATO-HEAVY';
  src: url('../fonts/LATO-HEAVY_0.ttf');
  font-weight: normal;
  font-style: normal;
}
