block icons
ul.C-socials
    li.socials__item
        a.socials__link(href="#")
            svg.icon(class="socials-link-ico")
                use(xlink:href="/assets/img/sprite.svg#vk")
    li.socials__item
        a.socials__link(href="#")
            svg.icon(class="socials-link-ico")
                use(xlink:href="/assets/img/sprite.svg#github")
    li.socials__item
        a.socials__link(href="#")
            svg.icon(class="socials-link-ico")
                use(xlink:href="/assets/img/sprite.svg#in")
