extends ../_template

block variables
    - var title = 'Обо мне'

block content
    link(rel='stylesheet' href='/assets/css/about.css')
    body
        .wraper
            .wraper__bg
                img.wraper__bg-image(src="/assets/img/night-login.png")
            .header-cover
                ul.header-socials.C-socials
                    li.socials__item
                        a.socials__link(href="#")
                            svg.icon(class="socials-link-ico")
                                use(xlink:href="/assets/img/sprite.svg#vk")
                    li.socials__item
                        a.socials__link(href="#")
                            svg.icon(class="socials-link-ico")
                                use(xlink:href="/assets/img/sprite.svg#github")
                    li.socials__item
                        a.socials__link(href="#")
                            svg.icon(class="socials-link-ico")
                                use(xlink:href="/assets/img/sprite.svg#in")
                button.header__menubtn
                    svg.icon(class="socials-link-ico hamburger")
                        use(xlink:href="/assets/img/sprite.svg#hamburger")
            svg.icon(class="header__stars")
                use(xlink:href="/assets/img/sprite.svg#stars1")
            .C-hero__block
                .hero__block-pic
                    img.hero__block-pic-screen(src="/assets/img/photofull.png")
                .hero__block-name Александр Лизунов
                .hero__block-spec Личный сайт веб-разработчика
            .box
                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
                    polygon(class = "left" points="0,0   0,86   500.8,86   500.8,75.5")
                    polygon(class = "right" points="1000,0   1000,86   500,86   500,75.5")
        .wraper.content_wraper
            .about.left
                .about-content__left
                    h1.about-content__left-me ОБО МНЕ
                        svg.icon(class="content__stars-ico")
                            use(xlink:href="/assets/img/sprite.svg#stars2")
                    .about-content__left-details
                        img.about-content__left-details-image(src="/assets/img/photofull.png")
                        h2.about-content__left-details-who КТО Я
                        .about-content__left-details-text
                            p Я веб разработчик из Новосибирска. Мне 27 лет.
                            p Я занимаюсь разработкой современных сайтов
                            p и приложений. Мне нравится делать интересные
                            p и современные проекты.
                        .about-content__left-details-text
                            p Этот сайт я сделал в рамках обучения в Школе онлайн
                            p образования LoftSchool. Чуть позже я освежу в нём
                            p свой контент. А пока посмотрите,
                            p как тут всё классно и красиво!

            .about.right
                .about-content__right
                    h2.about-content__left-details-who
                        p ЧЕМ Я МОГУ БЫТЬ
                        p ВАМ ПОЛЕЗЕН
                    .about-content__left-details-text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи
                        p на Backend. Но давайте по порядку.
                    h3 Frontend
                        .about-content__right-directions
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-html(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text HTML5
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-css(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text CSS3
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-js(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text.about-content__right-directions-text-js
                                    p JavaScript
                                    p & jQuery
                    h3 Backend
                        .about-content__right-directions
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-php(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text PHP
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-sql(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text mySQL
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-node(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text.about-content__right-directions-text-js
                                    p Nodejs
                                    p & npm
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-mongo(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text Mongo.db
                    h3 WorkFlow
                        .about-content__right-directions
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-git(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text Git
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-gulp(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text Gulp
                            .about-content__right-directions-item
                                svg.circles(width='110', height='110')
                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                    circle.circle__second.circle-bower(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                .about-content__right-directions-text Bower
        .wraper.wraper-last
            .map-container
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2675.5354030695694!2d35.06629044062455!3d47.887321670988285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc643cb387c401%3A0xe7d6668be3ddbaae!2z0KLQvtCy0LDRgNC40YHRjNC60LAg0LLRg9C70LjRhtGPLCA1Niwg0JfQsNC_0L7RgNGW0LbQttGPLCDQl9Cw0L_QvtGA0ZbQt9GM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1487447838101" width="800" height="600" frameborder="0" style="border:0" allowfullscreen)
            .city-map__contacts-cover
                h2.city-map__contacts-title.about-content__left-details-who КОНТАКТЫ
                .city-map__contacts-block
                    a.city-map__contacts-link(href="#") alex_zp_ua11
                        svg.icon(class="city-map__contacts-ico")
                            use(xlink:href="/assets/img/sprite.svg#skype")
                    a.city-map__contacts-link(href="#") +3-8099-353-09-53
                        svg.icon(class="city-map__contacts-ico")
                            use(xlink:href="/assets/img/sprite.svg#phone_n")
                    a.city-map__contacts-link(href="#") eric_zp_ua@bigmir.net
                        svg.icon(class="city-map__contacts-ico")
                            use(xlink:href="/assets/img/sprite.svg#envelope_n")
                    a.city-map__contacts-link(href="#") Украина, г.Запорожье, ул.Товарищеская 56/25
                        svg.icon(class="city-map__contacts-ico")
                            use(xlink:href="/assets/img/sprite.svg#map_n")
            footer.footer-bg
                .footer-container
                    .footer__block
                        .footer-text
                            p Этот сайт я сделал в рамках обучения в Школе
                            p онлайн образования LoftSchool.
                    .footer__block.footer__block-central
                        ul.footer_block-nav
                            li.nav-item
                                a.nav-link(href="works.html") Мои работы
                            li.nav-item
                                a.nav-link(href="/about.html") Обо мне
                            li.nav-item
                                a.nav-link(href="/blog.html") Блог
                            li.nav-item
                                a.nav-link(href="#") Автризация
                        ul.C-socials.footer-socials
                            li.socials__item
                                a.socials__link(href="#")
                                    svg.icon(class="socials-link-ico")
                                        use(xlink:href="/assets/img/sprite.svg#vk")
                            li.socials__item
                                a.socials__link(href="#")
                                    svg.icon(class="socials-link-ico")
                                        use(xlink:href="/assets/img/sprite.svg#github")
                            li.socials__item
                                a.socials__link(href="#")
                                    svg.icon(class="socials-link-ico")
                                        use(xlink:href="/assets/img/sprite.svg#in")
                    .footer__block
                        .footer-text
                            p alex_zp_ua11
                            p eric_zp_ua@bigmir.net
                            p +3-8099-353-09-53
                            p Украина, г.Запорожье, ул.Товарищеская 56/25
                footer.copy-rights © Александр Лизунов | Создано с любовью в LoftSchool | 2017
























